___

<a href='https://www.ironhack.com/es/barcelona?utm_campaign=BCN_app_campus_brand_GA_ES_Exact&utm_source=google&utm_medium=cpc&utm_content=ironhack_ex&utm_term=ironhack&gclid=Cj0KCQjwwuD7BRDBARIsAK_5YhUdmsIB0xz9OliulRjpgd3gPK6toTjFpnY3sgzgxjSrIaxy8PC0Q8saAoQMEALw_wcB'> <img src='' /></a>
___

# Lesson goals
Learn how to use tuples, dicts and sets

## Lists
Lists are mutable. This means that the values inside of a list can be overwritten (or mutated) once the list is defined.

We define lists using [] and specifying the sequence in our list as follows:

In [59]:
list_example_for_chocolates=['dark', 'milk', 'caramel filled']
list_example_for_chocolates

['dark', 'milk', 'caramel filled']

In [61]:
list_example_for_chocolates[2] = 'cheesecake'
list_example_for_chocolates

['dark', 'milk', 'cheesecake']

### Trick; shift+tab is your best friend

In [25]:
len(list_example_for_chocolates)

3

In [66]:
list_example_for_created_list=('hey ')

In [67]:
list_example_for_created_list.split()

['hey']

In [68]:
len(list_example_for_created_list)

4

In [65]:
list_example_for_created_list

'hey how are you doing? ready for today?'

In [69]:
list_example_for_created_list=list_example_for_created_list.split()
list_example_for_created_list

['hey']

In [31]:
len(list_example_for_created_list)

8

## Tuples
In the previous lesson, we learned about lists. Lists are one of the most important data structures in Python. However, we cannot survive with lists alone. There are many use cases where other data structures are better suited. This lesson will introduce three other important data structures in Python.

Tuples are sequences just like list. However, the main difference between tuples and lists is that tuples are immutable. This means that the values inside of a tuple cannot be overwritten (or mutated) once the tuple is defined.

We define tuples using parentheses and specify the sequence in our tuple as follows:

In [70]:
chocolates = ('dark', 'milk', 'semi sweet')
chocolates

('dark', 'milk', 'semi sweet')

### Remember for Python the indexing starts at 0

In [72]:
chocolates[1]

'milk'

We cannot reassign new values to a tuple.

In [73]:
chocolates[2] = 'caramel filled'

TypeError: 'tuple' object does not support item assignment

Similar to lists, we can find the length of a tuple using the len() function. We will also get an out of bounds error if we try to access a tuple position that is beyond the tuple's length.

In [35]:
len(chocolates)

3

## Dicts
Sometimes we don't just want to store data in a sequence. There are cases where we want to easily retrieve our data rather than iterate through an entire list. There are also cases where we need to label our data. For example, the phone numbers stored in our phone are labeled using the name of our contacts. In these cases, it is better to use a dict. Dicts are a sequence of key value pairs. We store the data behind the scenes in a hash map. This means that we use the key to generate a unique index (called a hash) and store the value in the location marked by that index. This makes retrieval very fast.

We can manually create a dict by specifying all keys and values separated by a colon within curly braces.

In [74]:
contacts = {'John': '312-555-1234', 'Paul': '312-555-3123', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [75]:
contacts.keys()

dict_keys(['John', 'Paul', 'George', 'Ringo'])

In [76]:
contacts.values()

dict_values(['312-555-1234', '312-555-3123', '312-555-3333', '312-555-2222'])

In [77]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

We can change a value by reassigning a new value to a key

In [80]:
contacts['Paul'] = 'Ironhack'

In [81]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', 'Ironhack'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [84]:
del contacts['John']

KeyError: 'John'

In [83]:
contacts.items()

dict_items([('Paul', 'Ironhack'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [36]:
empty_dict = {}
empty_dict

{}

In [85]:
contacts

{'Paul': 'Ironhack', 'George': '312-555-3333', 'Ringo': '312-555-2222'}

In [86]:
#.values
for i in contacts.keys():
     print(i)

Paul
George
Ringo

In [87]:
for k in contacts.items():
     print(k+": Ironhack rocks "+v)

TypeError: can only concatenate tuple (not "str") to tuple

In [89]:
for LALALLAL, v in contacts.items():
     print(LALALLAL+": Ironhack rocks "+v)

Paul: Ironhack rocks Ironhack
George: Ironhack rocks 312-555-3333
Ringo: Ironhack rocks 312-555-2222

## Sets
Sets are unordered collections of unique elements. Similar to lists, they are also mutable. This means that we can insert and delete values to our set.

We can define an empty set as follows:

In [90]:
letters = set()

In [91]:
letters

set()

In [94]:
letters.add('a')

In [95]:
letters

{'a'}

In [96]:
letters.remove('a')

In [97]:
letters

set()

In [98]:
letters.remove('a')

KeyError: 'a'

### Union, Intersection, and Difference
The fact that sets contain unique values and are not ordered allows us to compare sets and find their union, intersection, and difference.

We will look at examples of all three operations in the code block below.

In [99]:
# We start off defining both sets. Note that we have to use both parentheses and brackets.
girl_names = set(['Mary', 'Madison', 'Logan', 'Joanna'])
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

In [100]:
# We find the list of all names without duplicates by finding the union of both sets
all_names = boy_names.union(girl_names)
print(all_names)

{'Mary', 'John', 'Logan', 'Alexander', 'Joanna', 'Madison'}

In [101]:
# We find the difference between both sets by subtracting one set from the other
boy_only_names = boy_names - girl_names
print(boy_only_names)

{'Alexander', 'John'}

# Thank you for your attention =)


<a href='https://www.ironhack.com/es/barcelona?utm_campaign=BCN_app_campus_brand_GA_ES_Exact&utm_source=google&utm_medium=cpc&utm_content=ironhack_ex&utm_term=ironhack&gclid=Cj0KCQjwwuD7BRDBARIsAK_5YhUdmsIB0xz9OliulRjpgd3gPK6toTjFpnY3sgzgxjSrIaxy8PC0Q8saAoQMEALw_wcB'> <img src='https://media.giphy.com/media/LOWVCh18JmzRVvnYWt/giphy.gif' /></a>